/*
# ドッコの説明
 
ここにコメントとか説明入れたりすると便利！
 
`.inner_text`で文字を白くする
 
```
<div class="heading">
	<h2></h2>
	<p class="heading__inner"></p>
</div>```
*/
.heading {
	position: relative;
	border: 2px solid #000;
	margin-bottom: 0.5em;
	line-height: 42px;
	padding: 0 0.6em;
	font-size: 20px;
	font-weight: bold;
	&__link {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 1em;
		font-size: 16px;
		font-weight: normal;
	}
}